worker_processes auto;

events {
    worker_connections 1024;
}

http {
    log_format swiftdeploy '$time_iso8601 | $status | ${request_time}s | $upstream_addr | $request';

    access_log /var/log/nginx/access.log swiftdeploy;
    error_log /var/log/nginx/error.log warn;

    proxy_connect_timeout {{PROXY_TIMEOUT}}s;
    proxy_send_timeout {{PROXY_TIMEOUT}}s;
    proxy_read_timeout {{PROXY_TIMEOUT}}s;

    upstream app_backend {
        server app:{{APP_PORT}};
    }

    server {
        listen {{NGINX_PORT}};

        add_header X-Deployed-By swiftdeploy always;

        location / {
            proxy_pass http://app_backend;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_pass_header X-Mode;
        }

        error_page 502 /502.json;
        error_page 503 /503.json;
        error_page 504 /504.json;

        location = /502.json {
            internal;
            default_type application/json;
            return 502 '{"error": "Bad Gateway", "code": 502, "service": "swiftdeploy", "contact": "{{CONTACT}}"}';
        }

        location = /503.json {
            internal;
            default_type application/json;
            return 503 '{"error": "Service Unavailable", "code": 503, "service": "swiftdeploy", "contact": "{{CONTACT}}"}';
        }

        location = /504.json {
            internal;
            default_type application/json;
            return 504 '{"error": "Gateway Timeout", "code": 504, "service": "swiftdeploy", "contact": "{{CONTACT}}"}';
        }
    }
}
